<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD2bwjHxUFBN0de3H4-kaO6sp292M7aJek</string>
	<key>GCM_SENDER_ID</key>
	<string>1056569778895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>learnifys.learn.app</string>
	<key>PROJECT_ID</key>
	<string>learnify-f8631</string>
	<key>STORAGE_BUCKET</key>
	<string>learnify-f8631.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1056569778895:ios:32505ced40bc837613cdba</string>
</dict>
</plist>